


<h1 class="text-center"> <i class="fa fa-flask" aria-hidden="true">  </i>   Joe's Cocktail Emporium   <i class="fa fa-glass" aria-hidden="true">  </i></h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>

    <div class="col-xs-12 col-sm-4">

      <% if c.photo?  %>
      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= cl_image_path c.photo.path, height: 300, width: 400, crop: :fill; %> ') " >
      </div>
      <% else %>
      <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.seriouseats.com/images/2014/11/20141104-cocktail-party-old-fashioneds-holiday-vicky-wasik-3.jpg')">
        <% end %>

        <div class="card-header" >
         <h1> <%= link_to c.name, cocktail_path(c) %> </h1>


         <div class="card-body text-center"></div>


       </div>
     </div>
   </div>
   <% end %>

 </div>
</div>

<p class="text-center">

  <%= link_to "new cocktail", new_cocktail_path %>
</p>
